<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{getLabel('ProductDetail.Title')}}</ion-title>
        <ion-buttons end>
            <button ion-button color="secondary" (click)="gotoBasket()">
       <ion-badge item-right>
                 <ion-icon ios="ios-cart" md="md-cart"></ion-icon> {{basketCount}}</ion-badge>
      </button>
        </ion-buttons>
    </ion-navbar>

    <ion-searchbar type="tel" (ionInput)="searchProduct($event)"></ion-searchbar>

    <ion-toolbar no-border-top [hidden]="!isShowProductDetail">
        <ion-segment [(ngModel)]="pet">
            <ion-segment-button value="puppies">
                {{getLabel('ProductDetail.Segment.Detail')}}
            </ion-segment-button>
            <ion-segment-button value="kittens">
                {{getLabel('ProductDetail.Segment.SizeList')}}
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content class="card-background-page" scroll="false">
    <div [ngSwitch]="pet" [hidden]="!isShowProductDetail" style="margin-top: 48px;">
        <ion-list *ngSwitchCase="'puppies'">
            <ion-card>
                <img src="data:image/png;base64,{{productModel.ModelPicture1}}" [style.height]="imgHeight+'px'">
                <ion-item>
                    <h1><b>{{getLabel('ProductDetail.Group.Label')}}:</b> {{productModel.GroupName}}</h1>
                    <h1><b>{{getLabel('ProductDetail.Code.Label')}}:</b> {{productModel.ManufactureCode}}</h1>
                    <h2><b>{{getLabel('ProductDetail.Price.Label')}}:</b> {{getPriceLabel(productModel)}}</h2>
                    <p [hidden]="!productModel.Fabric1"><b>{{getLabel('ProductDetail.Fabric1.Label')}}:</b> {{productModel.Fabric1}}</p>
                    <p [hidden]="!productModel.Fabric2"><b>{{getLabel('ProductDetail.Fabric2.Label')}}:</b> {{productModel.Fabric2}}</p>
                    <p [hidden]="!productModel.Fabric3"><b>{{getLabel('ProductDetail.Fabric3.Label')}}:</b> {{productModel.Fabric3}}</p>
                    <p>
                        <b>{{getLabel('ProductDetail.Colors.Label')}}:</b>
                        <span *ngFor="let color of this.productModel.ColorData">
                        {{color.text}},
                    </span>
                    </p>
                </ion-item>
            </ion-card>
        </ion-list>

        <ion-list *ngSwitchCase="'kittens'">
            <div *ngFor="let colorData of productModel.ColorData">
                <ion-list-header>
                    <ion-label>
                        <h1>{{colorData.text}} <span [ngStyle]="{'background-color': getColorCode(colorData.text)}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> </h1>
                    </ion-label>
                </ion-list-header>
                <ion-item *ngFor="let index of sizeArray">
                    <ion-label style="margin:0;">
                        <ion-grid>
                            <ion-row>
                                <ion-col width-50>
                                    {{getSizeLabel(index)}}
                                </ion-col>
                                <ion-col width-50>
                                    <snippets [value]="getSizeValue(colorData,index)" (callback)="changedValue($event,colorData,index)"> </snippets>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-label>
                </ion-item>
            </div>
            <div padding>
                <button ion-button color="primary" block (click)="addToBasket()">
                    <ion-icon ios="ios-cart" md="md-cart"></ion-icon> &nbsp;
                     {{getLabel('ProductDetail.AddToBasket')}}</button>
            </div>
        </ion-list>
    </div>
    <div *ngIf="!isShowProductDetail" padding>
        <p>{{getLabel('ProductDetail.No.Result')}}</p>
        
    </div>
</ion-content>