<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{getLabel('ProductDetail.Title')}}</ion-title>
        <ion-buttons end>
            <button ion-button color="secondary" (click)="gotoBasket()">
       <ion-badge item-right>
                 <ion-icon ios="ios-cart" md="md-cart"></ion-icon> 260k</ion-badge>
      </button>
        </ion-buttons>
    </ion-navbar>

    <ion-searchbar (ionInput)="searchProduct($event)"></ion-searchbar>

    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="pet" *ngIf="isShowProductDetail">
            <ion-segment-button value="puppies">
                Detail
            </ion-segment-button>
            <ion-segment-button value="kittens">
                Size List
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
    <div [ngSwitch]="pet" *ngIf="isShowProductDetail">
        <ion-list *ngSwitchCase="'puppies'">
            <ion-card>
                <ion-item>
                    <h2>{{productModel.ManufactureCode}}</h2>
                    <p>{{productModel.Price}} {{productModel.Currency}}</p>
                </ion-item>
                <img src="assets/card-saopaolo.png">
                <ion-card-content>
                    <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of
                        a DeLorean?! Whoa. This is heavy.</p>
                </ion-card-content>
            </ion-card>
        </ion-list>

        <ion-list *ngSwitchCase="'kittens'">
            <div *ngFor="let colorData of productModel.ColorData">
                <ion-list-header>
                    <ion-label>{{colorData.text}}</ion-label>
                </ion-list-header>
                <ion-item *ngFor="let index of [1,2,3,4,5,6,7,8]">
                    <ion-label style="margin:0;">
                        <ion-grid>
                            <ion-row>
                                <ion-col width-50>Size {{index}}</ion-col>
                                <ion-col width-50>
                                    <snippets (callback)="changedValue($event,colorData,index)"> </snippets>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-label>
                </ion-item>
            </div>
        </ion-list>
    </div>
    <div *ngIf="!isShowProductDetail">
        No selected product
    </div>
</ion-content>