<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{getLabel('OrderDetail.Title')}}</ion-title>

        <ion-buttons end>
            <button ion-button (click)="presentActionSheet()">
                   <ion-icon ios="ios-document" md="md-document"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>
    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="pet">
            <ion-segment-button value="customerDetail">
                {{getLabel('OrderDetail.Segment.CustomerDetail')}}
            </ion-segment-button>
            <ion-segment-button value="puppies">
                {{getLabel('OrderDetail.Segment.OrderInfo')}}
            </ion-segment-button>
            <ion-segment-button value="kittens">
                {{getLabel('OrderDetail.Segment.ProductList')}}
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
    <div [ngSwitch]="pet">
        <ion-list *ngSwitchCase="'customerDetail'">
            <ion-card>
                <ion-item>
                    <ion-icon ios="ios-people" md="md-people" item-left large></ion-icon>
                    <div>
                        <h2>{{currentCustomer.Name}}</h2>
                        <p>{{currentCustomer.Addresse}}</p>
                        <p>{{currentCustomer.City}} / {{currentCustomer.State}}</p>
                    </div>
                </ion-item>
            </ion-card>
        </ion-list>
        <ion-list *ngSwitchCase="'puppies'">

            <ion-item>
                <ion-label floating>{{getLabel('BasketPage.ShippingDateStart')}}</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" [min]="today" [max]="endDate" [(ngModel)]="orderData.ShipmentStartDate"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label floating>{{getLabel('BasketPage.ShippingDateEnd')}}</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" [min]="orderData.ShippingDateStart" [max]="endDate" [(ngModel)]="orderData.ShipmentEndDate"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label floating>{{getLabel('BasketPage.CustomerNote')}}</ion-label>
                <ion-textarea [(ngModel)]="orderData.CustomerNote">></ion-textarea>
            </ion-item>
            <ion-item>
                <ion-label floating>{{getLabel('BasketPage.AdminNote')}}</ion-label>
                <ion-textarea [(ngModel)]="orderData.AdminNote">></ion-textarea>
            </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'kittens'">
            <ion-item *ngFor="let product of orderData.ProductList">
                <h1> {{product.ManufactureName}} - {{product.Color}}</h1>
                <p> {{getSizeValueLabel(product)}}
                </p>

                <button ion-button icon-left clear item-right (click)="removeFromOrder(product)" [hidden]="orderData.StatuId != 0">
                    <ion-icon ios="ios-remove" md="md-remove"></ion-icon> {{getLabel('Common.DeleteButton.Label')}}
                 </button>
                <button ion-button icon-left clear item-right (click)="edit(product)" [hidden]="orderData.StatuId != 0">
                    <ion-icon ios="ios-create" md="md-create"></ion-icon> {{getLabel('Common.EditButton.Label')}}
                </button>
            </ion-item>
        </ion-list>
    </div>
    <p padding>
        <button [hidden]="orderData.StatuId != 0" ion-button color="primary" block (click)="updateOrder()" icon-left><ion-icon ios="ios-cash" md="md-cash"></ion-icon> &nbsp; {{getLabel('OrderDetail.UpdateOrder')}}</button>
        <button *ngIf="orderData.StatuId == 0" ion-button color="secondary" block (click)="changeOrderStatus(1)" icon-left>
              <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>&nbsp;{{getLabel('OrderDetail.SendToCenter')}}</button>
        <button *ngIf="orderData.StatuId != 2" ion-button color="danger" block (click)="changeOrderStatus(2)" icon-left>
              <ion-icon ios="ios-close" md="md-close"></ion-icon>&nbsp;{{getLabel('OrderDetail.CancelOrder')}}</button>
    </p>
</ion-content>