<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{getLabel('HomePage.Title')}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card>
    <img src="{{homeImage}}" />
    <div class="card-title">{{getLabel('HomePage.CompanyName')}}</div>
    <div class="card-subtitle">{{getLabel('HomePage.CompanySubTitle')}}</div>
  </ion-card>
  <ion-card-content>
    {{getLabel('HomePage.Description')}}
  </ion-card-content>
  <ion-list class="no-margin">
    <ion-item>
      <ion-label fixed>{{getLabel('HomePage.CurrentShowRoom.DropDownList')}}</ion-label>
      <ion-select [(ngModel)]="currentShowRoom">
        <ion-option value="{{showRoom.Id}}" *ngFor="let showRoom of showRoomList">{{showRoom.DisplayName}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row wrap>
      <ion-col width-50 *ngFor="let brand of brandList">
        <ion-card (click)="selectBrand(brand.id)">
          <img src="{{brand.imageUrl}}" />
          <div class="card-subtitle">
            <!--{{brand.title}}-->
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>